[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
chainlit = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
bs4 = "*"
faiss-cpu = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"
